<!DOCTYPE html>
<html lang="en" dir="ltr" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
    window.frctl = {
        env: 'static'
    };
    </script>
    <script>var cl = document.querySelector('html').classList; cl.remove('no-js'); cl.add('has-js');</script>
    <link rel="shortcut icon" href="../../themes/mandelbrot/favicon.ico" type="image/ico">
<style>
    :root {
        
        
        
    }
</style>

<link rel="stylesheet" href="../../themes/mandelbrot/css/default.css?cachebust=1.10.3" type="text/css">

<link rel="stylesheet" href="../../themes/mandelbrot/css/highlight.css?cachebust=1.10.3" type="text/css">


<title>Botones | Fractal testing</title>

</head>
<body>



<div class="Frame" id="frame">

    <div class="Frame-header">
        <div class="Header">
    <button class="Header-button Header-navToggle" data-action="toggle-sidebar">
        <div class="Header-navToggleIcon Header-navToggleIcon--open">
            <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 6.4L17.6 5 12 10.6 6.4 5 5 6.4 10.6 12 5 17.6 6.4 19 12 13.4 17.6 19 19 17.6 13.4 12z"/>
</svg>

        </div>
        <div class="Header-navToggleIcon Header-navToggleIcon--closed">
            <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
</svg>

        </div>
    </button>
    <a href="../../index.html" class="Header-title" data-pjax>Fractal testing</a>
</div>

    </div>

    <div class="Frame-body" data-role="body">

        <div class="Frame-panel Frame-panel--main" data-role="main">
            <div class="Frame-inner" id="pjax-container">
            

<div class="Pen" data-behaviour="pen" id="pen-eb588fd101676134508f06b54c6e1a5b">

    

    <div class="Pen-panel Pen-header">
    <h1 class="Pen-title">
        <a class="Pen-previewLink" href="../preview/molecules-button.html" title="Preview">
            Botones
            <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>

        </a>
    </h1>

    <span class="Pen-preview-size" data-role="preview-size"></span>

    

<div class="Status Status--tag">

<label class="Status-label" style="background-color: #FF3333; border-color: #FF3333;">Prototype</label>

</div>


</div>


    <div class="Pen-panel Pen-preview Preview" data-behaviour="preview" id="preview-eb588fd101676134508f06b54c6e1a5b">
    <div class="Preview-wrapper" data-role="resizer">
        <div class="Preview-resizer">
             <iframe
                class="Preview-iframe"
                data-role="window"
                src="../preview/molecules-button.html"
                 style="align: center !important; padding: 40px !important; width: 100% !important; display: inline-flex !important; justify-content: center !important; "
                marginwidth="0" marginheight="0" frameborder="0" vspace="0" hspace="0" scrolling="yes">
            </iframe>
        </div>
        <div class="Preview-handle" data-role="resize-handle"></div>
        <div class="Preview-overlay"></div>
    </div>
</div>


    <div class="Pen-handle Pen-handle--browser" data-role="resize-handle"></div>

    <div class="Pen-panel Pen-info" data-role="info">
    <div class="Browser" data-behaviour="browser" id="browser-eb588fd101676134508f06b54c6e1a5b">

    

<div class="Browser-controls">
    <ul class="Browser-tabs">
        
        
        <li class="Browser-tab Browser-tab--html is-active " data-role="tab">
            <a href="#browser-eb588fd101676134508f06b54c6e1a5b-panel-html">
                HTML
            </a>
        </li>
        
        
        
        <li class="Browser-tab Browser-tab--view" data-role="tab">
            <a href="#browser-eb588fd101676134508f06b54c6e1a5b-panel-view">
                View
            </a>
        </li>
        
        
        
        <li class="Browser-tab Browser-tab--context" data-role="tab">
            <a href="#browser-eb588fd101676134508f06b54c6e1a5b-panel-context">
                Context
            </a>
        </li>
        
        
        
        
        
        <li class="Browser-tab Browser-tab--resources" data-role="tab">
            <a href="#browser-eb588fd101676134508f06b54c6e1a5b-panel-assets">Assets</a>
        </li>
        
        
        
        
        
        <li class="Browser-tab Browser-tab--info" data-role="tab">
            <a href="#browser-eb588fd101676134508f06b54c6e1a5b-panel-info">
                Info
            </a>
        </li>
        
        
        
        <li class="Browser-tab Browser-tab--notes" data-role="tab">
            <a href="#browser-eb588fd101676134508f06b54c6e1a5b-panel-notes">
                Notes
            </a>
        </li>
        
        
    </ul>
</div>


    
    
<div class="Browser-panel Browser-code is-active" data-role="tab-panel" id="browser-eb588fd101676134508f06b54c6e1a5b-panel-html">
    <code class="Code Code--lang-html hljs">
        
        <pre><span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;button button--primary button--small&quot;</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">span</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;text&quot;</span>&gt;</span>Button<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span></pre>
        
    </code>
</div>

    
    <div class="Browser-panel Browser-code" data-role="tab-panel" id="browser-eb588fd101676134508f06b54c6e1a5b-panel-view">
    <code class="Code Code--lang-handlebars hljs">
        <pre><span class="xml"><span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;button button--</span></span></span><span class="hljs-template-variable">{{ <span class="hljs-name">color</span> }}</span><span class="xml"><span class="hljs-tag"><span class="hljs-string"> button--</span></span></span><span class="hljs-template-variable">{{ <span class="hljs-name">size</span> }}</span><span class="xml"><span class="hljs-tag"><span class="hljs-string">&quot;</span>&gt;</span></span><span class="hljs-template-variable">{{&gt; <span class="hljs-name">&#x27;<a href="./atoms-text.html">@atoms-text</a>&#x27;</span> this }}</span><span class="xml"><span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span></span></pre>
    </code>
</div>

    
    <div class="Browser-panel Browser-code" data-role="tab-panel" id="browser-eb588fd101676134508f06b54c6e1a5b-panel-context">
    <code class="Code Code--lang-json hljs">
        
            
            <pre>{
  <span class="hljs-attr">&quot;text&quot;</span>: <span class="hljs-string">&quot;Button&quot;</span>,
  <span class="hljs-attr">&quot;color&quot;</span>: <span class="hljs-string">&quot;primary&quot;</span>,
  <span class="hljs-attr">&quot;size&quot;</span>: <span class="hljs-string">&quot;small&quot;</span>
}</pre>
            
        
    </code>
</div>

    
    


<div class="Browser-panel Browser-resources" data-role="tab-panel" id="browser-eb588fd101676134508f06b54c6e1a5b-panel-assets">
    <div class="FileBrowser">

        <div class="FileBrowser-selectWrapper">
            <label class="FileBrowser-select-label" for="filebrowser-select">File:</label>
            <select class="FileBrowser-select" id="filebrowser-select">
                
                <option value="file-8c7f825659a1f64327dfb3c494f6292c">button.js</option>
                
                <option value="file-eb0b866bb3527e0d9868d85182838a08">button.scss</option>
                
            </select>
        </div>

        
        <div class="FileBrowser-item is-active" id="file-8c7f825659a1f64327dfb3c494f6292c" data-role="resource-preview">
            <ul class="Meta">
                <li class="Meta-item">
                    <strong class="Meta-key">Content:</strong>
                    <span class="Meta-value">
                        <div class="FileBrowser-itemPreview">
                            
                            <code class="Code Code--lang-JavaScript FileBrowser-code hljs">
                                <pre><span class="hljs-keyword">const</span> { title } = <span class="hljs-built_in">require</span>(<span class="hljs-string">&#x27;./button.config.json&#x27;</span>);

<span class="hljs-keyword">const</span> button = <span class="hljs-function">() =&gt;</span> {
  <span class="hljs-built_in">document</span>.querySelector(<span class="hljs-string">&quot;.button&quot;</span>).addEventListener(<span class="hljs-string">&quot;click&quot;</span>, <span class="hljs-function">() =&gt;</span> {
    alert(title);
  });
};

<span class="hljs-keyword">export</span> <span class="hljs-keyword">default</span> button;</pre>
                            </code>
                            
                        </div>
                    </span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">URL:</strong>
                    <span class="Meta-value"><a data-no-pjax href="../raw/molecules-button/button.js"><span>/components/raw/molecules-button/button.js</span></a></span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">Filesystem Path:</strong>
                    <span class="Meta-value">src/patterns/molecules/button/button.js</span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">Size:</strong>
                    <span class="Meta-value">195 Bytes</span>
                </li>
            </ul>
        </div>
        
        <div class="FileBrowser-item" id="file-eb0b866bb3527e0d9868d85182838a08" data-role="resource-preview">
            <ul class="Meta">
                <li class="Meta-item">
                    <strong class="Meta-key">Content:</strong>
                    <span class="Meta-value">
                        <div class="FileBrowser-itemPreview">
                            
                            <code class="Code Code--lang-SCSS FileBrowser-code hljs">
                                <pre><span class="hljs-selector-class">.button</span> {
  <span class="hljs-attribute">background</span>: linear-gradient(<span class="hljs-number">145deg</span>, <span class="hljs-number">#6a11cb</span>, <span class="hljs-number">#2575fc</span>);
  <span class="hljs-attribute">border</span>: none;
  <span class="hljs-attribute">border-radius</span>: <span class="hljs-number">25px</span>;
  <span class="hljs-attribute">color</span>: white;
  <span class="hljs-attribute">cursor</span>: pointer;
  <span class="hljs-attribute">display</span>: inline-block;
  <span class="hljs-attribute">font-size</span>: <span class="hljs-number">16px</span>;
  <span class="hljs-attribute">text-align</span>: center;
  <span class="hljs-attribute">text-decoration</span>: none;
  <span class="hljs-attribute">box-shadow</span>: <span class="hljs-number">0</span> <span class="hljs-number">8px</span> <span class="hljs-number">15px</span> rgba(<span class="hljs-number">0</span>, <span class="hljs-number">0</span>, <span class="hljs-number">0</span>, <span class="hljs-number">0.1</span>);
  <span class="hljs-attribute">transition</span>: all <span class="hljs-number">0.3s</span> ease;
  <span class="hljs-attribute">font-weight</span>: bold;
  <span class="hljs-attribute">letter-spacing</span>: <span class="hljs-number">0.5px</span>;
  <span class="hljs-attribute">text-transform</span>: uppercase;

  &amp;<span class="hljs-selector-pseudo">:hover</span> {
    <span class="hljs-attribute">background</span>: linear-gradient(<span class="hljs-number">145deg</span>, <span class="hljs-number">#2575fc</span>, <span class="hljs-number">#6a11cb</span>);
    <span class="hljs-attribute">box-shadow</span>: <span class="hljs-number">0</span> <span class="hljs-number">8px</span> <span class="hljs-number">5px</span> rgba(<span class="hljs-number">0</span>, <span class="hljs-number">0</span>, <span class="hljs-number">0</span>, <span class="hljs-number">0.1</span>);

  }

  &amp;--primary {
    <span class="hljs-attribute">background</span>: linear-gradient(<span class="hljs-number">145deg</span>, <span class="hljs-number">#6a11cb</span>, <span class="hljs-number">#2575fc</span>);
    <span class="hljs-attribute">color</span>: rgb(<span class="hljs-number">196</span>, <span class="hljs-number">202</span>, <span class="hljs-number">228</span>);
  }

  &amp;--secondary {
    <span class="hljs-attribute">background</span>: linear-gradient(<span class="hljs-number">145deg</span>, <span class="hljs-number">#ffdd57</span>, <span class="hljs-number">#28a745</span>);
    <span class="hljs-attribute">color</span>: white;
  }

  &amp;--tertiary {
    <span class="hljs-attribute">background</span>: linear-gradient(<span class="hljs-number">145deg</span>, <span class="hljs-number">#ff8d1a</span>, <span class="hljs-number">#ff5733</span>);
    <span class="hljs-attribute">color</span>: <span class="hljs-number">#fff</span>;
  }

  &amp;--small {
    <span class="hljs-attribute">padding</span>: <span class="hljs-number">4px</span> <span class="hljs-number">12px</span>;
    <span class="hljs-selector-class">.text</span> {
      <span class="hljs-attribute">font-size</span>: <span class="hljs-number">0.8rem</span>;
    }
  }

  &amp;--<span class="hljs-attribute">normal</span> {
    <span class="hljs-attribute">padding</span>: <span class="hljs-number">8px</span> <span class="hljs-number">16px</span>;
    <span class="hljs-selector-class">.text</span> {
      <span class="hljs-attribute">font-size</span>: <span class="hljs-number">1rem</span>;
    }
  }

  &amp;--large {
    <span class="hljs-attribute">padding</span>: <span class="hljs-number">10px</span> <span class="hljs-number">32px</span>;
    <span class="hljs-selector-class">.text</span> {
      <span class="hljs-attribute">font-size</span>: <span class="hljs-number">1.2rem</span>;
    }
  }
}</pre>
                            </code>
                            
                        </div>
                    </span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">URL:</strong>
                    <span class="Meta-value"><a data-no-pjax href="../raw/molecules-button/button.scss"><span>/components/raw/molecules-button/button.scss</span></a></span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">Filesystem Path:</strong>
                    <span class="Meta-value">src/patterns/molecules/button/button.scss</span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">Size:</strong>
                    <span class="Meta-value">1.1 KB</span>
                </li>
            </ul>
        </div>
        
    </div>
</div>



    
    <div class="Browser-panel" data-role="tab-panel" id="browser-eb588fd101676134508f06b54c6e1a5b-panel-info">
    <ul class="Meta">
        <li class="Meta-item">
            <strong class="Meta-key">Handle:</strong>
            <span class="Meta-value">@molecules-button</span>
        </li>
        
        
        
        
        
        
        
        <li class="Meta-item">
            <strong class="Meta-key">Preview:</strong>
            <span class="Meta-value">
                <ul>
                    <li><a data-no-pjax href="../preview/molecules-button.html"><span>With layout</span> <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>
</a></li>
                    <li><a data-no-pjax href="../render/molecules-button.html"><span>Component only</span> <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>
</a></li>
                </ul>
            </span>
        </li>
        <li class="Meta-item">
            <strong class="Meta-key">Filesystem Path:</strong>
            <span class="Meta-value">src/patterns/molecules/button/button.hbs</span>
        </li>
        
        <li class="Meta-item">
            <strong class="Meta-key">References <em class="Meta-count">(1)</em>:</strong>
            <span class="Meta-value Meta-value--linkList">
            
                <a href="./atoms-text.html">@<span>atoms-text</span></a>
            
            </span>
        </li class="Meta-item">
        
        
        <li class="Meta-item">
            <strong class="Meta-key">Referenced by <em class="Meta-count">(2)</em>:</strong>
            <span class="Meta-value Meta-value--linkList">
            
                <a href="./molecules-buttons.html">@<span>molecules-buttons</span></a>, 
            
                <a href="./organisms-form.html">@<span>organisms-form</span></a>
            
            </span>
        </li>
        
    </ul>
</div>

    
    <div class="Browser-panel Browser-notes" data-role="tab-panel" id="browser-eb588fd101676134508f06b54c6e1a5b-panel-notes">
    <div class="Prose Prose--condensed">
        
        <h2 id="botón-de-prueba">Botón de prueba</h2>
<p>Este es un botón de prueba que se puede utilizar para verificar si Fractal está funcionando correctamente. Si ves este botón en tu página, significa que Fractal se ha configurado correctamente.</p>

        
    </div>
</div>

    

</div>

</div>


    

</div>


            </div>
        </div>

        <div class="Frame-panel Frame-panel--sidebar" data-role="sidebar">
            

    
    


<nav class="Navigation" data-behaviour="navigation">
    <div class="Navigation-panel Navigation-panel--main" data-role="main-panel">
    
        <div class="Navigation-group Navigation-search">
    <form action="" class="Search" data-behaviour="search">
        <label class="Search-label" for="search-input">Search</label>
        <input class="Search-input" id="search-input" type="search" placeholder="Search…" data-role="input" autocomplete="off">
        <button type="button" data-behaviour="clear-search" class="Search-clearButton" aria-label="Clear search" hidden>
            <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 6.4L17.6 5 12 10.6 6.4 5 5 6.4 10.6 12 5 17.6 6.4 19 12 13.4 17.6 19 19 17.6 13.4 12z"/>
</svg>

        </button>
    </form>
</div>

    
        

    
    
    <div class="Navigation-group">
        
<div class="Tree" data-behaviour="tree" id="tree-components">
    <div class="Tree-header">
        <h3 class="Tree-title">components</h3>

        <button type="button" data-behaviour="collapse-tree" class="Tree-collapse" title="Collapse tree" aria-label="Collapse tree" hidden>
            <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m9 11c-.6 0-1 .4-1 1s.4 1 1 1h6c.6 0 1-.4 1-1s-.4-1-1-1z"/><path d="m19 21h-14c-1.1 0-2-.9-2-2v-14c0-1.1.9-2 2-2h14c1.1 0 2 .9 2 2v14c0 1.1-.9 2-2 2zm-14-16v14h14v-14z"/></svg>

        </button>
    </div>
    <ul class="Tree-items Tree-depth-1">
        
    
        
        
            
            
            <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-atoms">
                <button class="Tree-collectionLabel" data-role="toggle" aria-expanded="true" aria-controls="tree-components-collection-atoms-items">
                    Atoms
                </button>
                <ul class="Tree-collectionItems" data-role="items" id="tree-components-collection-atoms-items">
                
                
                
                
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./atoms-image.html"
                data-role="tree-link"
                
                data-pjax
                data-test="atoms-image"
                data-handle="atoms-image"
            >
                <span>Image</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./atoms-text.html"
                data-role="tree-link"
                
                data-pjax
                data-test="atoms-text"
                data-handle="atoms-text"
            >
                <span>Text</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    

                </ul>
            </li>
            
        
    
        
        
            
            
            <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-molecules">
                <button class="Tree-collectionLabel" data-role="toggle" aria-expanded="true" aria-controls="tree-components-collection-molecules-items">
                    Molecules
                </button>
                <ul class="Tree-collectionItems" data-role="items" id="tree-components-collection-molecules-items">
                
                
                
                
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./molecules-buttons.html"
                data-role="tree-link"
                
                data-pjax
                data-test="molecules-buttons"
                data-handle="molecules-buttons"
            >
                <span>Buttons</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF3333;" title="Prototype"></span>


</div>

</div>


            </a>
        </li>
        
    

                </ul>
            </li>
            
        
    
        
        
            
            
            <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-organisms">
                <button class="Tree-collectionLabel" data-role="toggle" aria-expanded="true" aria-controls="tree-components-collection-organisms-items">
                    Organisms
                </button>
                <ul class="Tree-collectionItems" data-role="items" id="tree-components-collection-organisms-items">
                
                
                
                
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./organisms-form.html"
                data-role="tree-link"
                
                data-pjax
                data-test="organisms-form"
                data-handle="organisms-form"
            >
                <span>Form</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    

                </ul>
            </li>
            
        
    

    </ul>
</div>

    </div>
    


    
        
<div class="Navigation-group">

<div class="Tree" data-behaviour="tree" id="tree-docs">
    <div class="Tree-header">
        <h3 class="Tree-title">documentation</h3>

        <button type="button" data-behaviour="collapse-tree" class="Tree-collapse" title="Collapse tree" aria-label="Collapse tree" hidden>
            <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m9 11c-.6 0-1 .4-1 1s.4 1 1 1h6c.6 0 1-.4 1-1s-.4-1-1-1z"/><path d="m19 21h-14c-1.1 0-2-.9-2-2v-14c0-1.1.9-2 2-2h14c1.1 0 2 .9 2 2v14c0 1.1-.9 2-2 2zm-14-16v14h14v-14z"/></svg>

        </button>
    </div>
    <ul class="Tree-items Tree-depth-1">
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="../../index.html"
                data-role="tree-link"
                
                data-pjax
                data-test="index"
                data-handle="index"
            >
                <span>Overview</span>
                
            </a>
        </li>
        
    

    </ul>
</div>

</div>


    
        

    
        
<div class="Navigation-group">
    <div class="Tree">
        <div class="Tree-header">
            <h3 class="Tree-title">
                Information
            </h3>
        </div>
        <dl class="Tree-aside">
            
                <div>
                    <dt class="Tree-asideTerm">Built on:</dt>
                    <dd class="Tree-asideDescription">
                        
                            <time datetime="2024-08-06T16:49:35.266Z">
                                8/6/2024
                            </time>
                        
                    </dd>
                </div>
            
        </dl>
    </div>
</div>


    
    </div>

    
</nav>

        </div>
    </div>
</div>




<script src="../../themes/mandelbrot/js/mandelbrot.js?cachebust=1.10.3"></script>



</body>
</html>
