<form action="">
    <h1>-- {{title}} --</h1>
    <p>{{subtitle}}</p>
    <div class="form-group">
        <label for="name">{{nameLAbel}}</label>
        <input type="text" name="name" id="name">
    </div>
    {{> '@molecules-button' button }}
</form>